
# All files in the repository

/src/users/ @Tanishq-26
/src/shared/ @harshal-tg
* @harshal-tg @Tanishq-07

<!-- priority
1)specific folder/file owner
2)* (all files owners)
3)any outside folder owner  -->